
<mat-toolbar>
  <button mat-icon-button (click)="nav.toggle()">
  <mat-icon>menu</mat-icon>
</button>
  <span>
    Youtube
  </span>
  <input type="text" >
  <mat-icon>search</mat-icon>
   <mat-icon>mic</mat-icon>
   <mat-icon>notification</mat-icon>
   <mat-icon>account_circle</mat-icon>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened="false" #nav >
   <a [routerLink]="['home']">
       <button  mat-button><mat-icon>home</mat-icon>
         <span>Home</span>
      </button>

   </a>


   <a [routerLink]="['subscribe']">
    <button  mat-button><mat-icon>subscriptions</mat-icon>
      <span>Subscriptions</span>
   </button> 
  </a>

  <a [routerLink]="['history']">
    <button  mat-button><mat-icon>history</mat-icon>
      <span>History</span>
   </button> 
  </a>

  <a [routerLink]="['watchlater']">
    <button  mat-button><mat-icon>watchlater</mat-icon>
      <span>Watch Later</span>
   </button> 
  </a>

  <a [routerLink]="['downloads']">
    <button  mat-button><mat-icon>downloads</mat-icon>
      <span>Downloads</span>
   </button> 
  </a>






  </mat-sidenav>
  <mat-sidenav-content>
          <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

